params {
	// requires chr*.vcf.gz format ( with index )
	input_reference = "/lustre06/project/6072431/shared/REF_for_PCA/HGDP_1000G/gnomad.genomes.v3.1.2.hgdp_tgp.chr*.vcf.gz"
	input_study = "/lustre07/scratch/justinp/Imputation_PAPER/FINAL_2025/PCA/DATA/CaG/gsa.batchALL.pre_imputation.renamed.chr*.vcf.gz"

	// QC set of samples for the reference and study
	qc_ref_list = "/lustre06/project/6072431/shared/REF_for_PCA/HGDP_1000G/HGDP_1KG.PassedQC.id"
	qc_study_list = "/lustre07/scratch/justinp/Imputation_PAPER/FINAL_2025/PCA/DATA/CaG/CaG_pre_imputation_samples.id"

	// path to your low‐complexity / scaffolds / telomeres bed / MHC region
 	lowcomplexity_bed = "/lustre06/project/6072431/shared/Genome_gap/hg38/genome_gap_hg38_and_MHC.bed"
	header_bed = "TRUE"

	// path to the Reference metadata file (sample and population labels)
	meta_file = "/lustre06/project/6072431/shared/REF_for_PCA/HGDP_1000G/metadata/hgdp_tgp_meta.tsv"

	// path to unzipped LASER directory
	path_to_laser = "/lustre06/project/6072431/shared/softwares/LASER-2.04"

	// patht to the reference genome to normalize and left align
	ref_fasta = "/lustre06/project/6072431/shared/Reference_genome/GRCh38/hg38.fa.gz"

	// number of PCs to compute (and then project and infer ancestry)
	nPCs = 20 // default 20

	// reference population file (.csv with ID column and population column)
	//reference_pop = "/lustre06/project/6072431/shared/REF_for_PCA/HGDP_1000G/metadata/hgdp_tgp_meta_genetic_region.csv"

	// Minimum probability threshold for assigning population label w RF model
	//min_prob = 0.5 // default 0

	// Number of study samples per projection job (a batch of a 1000 samples takes aproximately 6h to run)
  	batch_size = 1000      

	// Parameters for the ancestry inference KNN
	// Number of neighbors to look at
	k = 10
	// Number of PCs to take into account
	n_pcs = 4
	// threshold for the number of neighbor of the same ancestry to make a call
	threshold_N = 6

}


// ─────────────────────────────────────────────────────────────────────────────
// default for all processes
process {
    executor        = "slurm"
    clusterOptions  = "--account=ctb-hussinju"
    cpus            = 1
    time            = "1d"
    memory          = "16GB"
}

// ─────────────────────────────────────────────────────────────────────────────
// override only the per‐batch projection
process {
    withName: "laser_pca_projection_batch" {
        time = "16h"
        // if you also want more RAM or cores, e.g.
//      cpus   = 1
//      memory = "16GB"
    }
}

executor {
        $slurm {
                queueSize = 500
                jobName = { "laser_PCA" }
        }
        $local {
                cpus = 1
        }
}
